<div class="container ">
    <div>
        <table class="table bg-light">
            <thead class="bg-primary">
              <tr>
                <th >#</th>
                <th >First</th>
                <th >Last</th>
                <th >Email</th>
                <th></th>
                <th> Edit/Update</th>
                <th><a class="btn btn-warning" href="">Add User</a></th>
              </tr>
              
            </thead>
            <tbody>
              <tr >
                <th>1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <th><a class="btn btn-warning" href="">Edit</a></th>
              </tr>
              
            </tbody>
          </table>
    </div>
    </div>