
<footer class="container">
  <!-- <h2 class="px-5">Menu</h2> -->
  <hr>
  <div class="footer-section1 row">
    <ul class="col footer-nav1">
      <h1>Quick links</h1>
      <li class="nav-link" routerLink="/about-us">About Us</li>
      <li class="nav-link" routerLink="/hireus">Hire Me</li>
      <li class="nav-link" routerLink="/suport-us">Suport Me</li>
      <li class="nav-link" routerLink="/projects">Projects</li>
    </ul>

    <ul class="col footer-nav2">
      <h1>Pages</h1>
      <li class="nav-link" routerLink="/sitemap">SiteMap</li>
      <li class="nav-link" routerLink="/sign-up">Sign Up</li>
      <li class="nav-link">Login</li>
      <li class="nav-link">Career</li>
    </ul>

    <ul class="col footer-nav2">
      <h1>Quick links</h1>
      <li class="nav-link">Blogs</li>
      <li class="nav-link">Case Studies</li>
      <li class="nav-link">Our Clients</li>
      <li class="nav-link">Services</li>
    </ul>

    <ul class="col footer-nav2">
      <h1>Our Services</h1>
      <li class="nav-link">UI/UX Design</li>
      <li class="nav-link">Software Development</li>
      <li class="nav-link">Web Development</li>
      <li class="nav-link">App Development</li>
    </ul>
  </div>
  <div class="footer-bottom">
    <div class="d-flex justify-content-center">
      <nav class="navbar">
        <div class="container">
          <a class="navbar-brand justify-content-center" routerLink="/">
            <!-- <span style="color: red">Software</span>
            <span style="color: #d700fd">Tech</span>
            <span style="color: #ffbf00">IT</span> -->
            <a routerLink="/"><img src="../../../assets/softwaretechit-logo-horizontal.png" alt="" height="50px" width="auto"></a>
          </a>
          <div class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
            <a class="nav-link" routerLink="./blog">Blog</a>
            <a class="nav-link" routerLink="./post">Post</a>
            <a class="nav-link" routerLink="./blog">All Posts</a>
            <a class="nav-link" routerLink="./post">Single Post</a>
            <a class="nav-link" routerLink="./postlist">Post List</a>
          </div>
        </div>
      </nav>
    </div>
    <div class="footer-copyright">
      <div class="d-flex justify-content-center">
        <p>
          &copy; Copyright
          <a href="https://softwaretechit.com" style="color: #ffbf00"
            >SoftwareTechIT</a
          >
          All Rights Reserved 2020-{{ date }}
        </p>
      </div>
      <p style="text-align: center">
        Design and Developed By
        <a href="https://softwaretechit.com" style="color: #ffbf00"
          >SoftwareTechIT</a
        >
      </p>
    </div>
  </div>
</footer>
