<footer >

  <div class="footer-section1 row">
    <div class="col">
     <ul class="footer-nav1">
      <li class="nav-item">bb</li>
      <li class="nav-item">vv</li>
      <li class="nav-item">nn</li>
      <li class="nav-item">nn</li>
     </ul>
    </div>
  <div class="col">
    <ul class="footer-nav2">
      <li class="nav-item">bb</li>
      <li class="nav-item">vv</li>
      <li class="nav-item">nn</li>
      <li class="nav-item">nn</li>
     </ul>
  </div>
  <div class="col">
    <ul class="footer-nav2">
      <li class="nav-item">bb</li>
      <li class="nav-item">vv</li>
      <li class="nav-item">nn</li>
      <li class="nav-item">nn</li>
     </ul>
  </div>
  <div class="col">
    <ul class="footer-nav2">
      <li class="nav-item">bb</li>
      <li class="nav-item">vv</li>
      <li class="nav-item">nn</li>
      <li class="nav-item">nn</li>
     </ul>
  </div>
</div>
  <div class="footer-bottom">
  <div class="d-flex justify-content-center">
    <nav class="navbar">
      <div class="container" >
        <a class="navbar-brand justify-content-center" routerLink="/" >
          <span style="color: red; ">Software</span>
          <span style="color: #d700fd">Tech</span>
          <span style="color: #ffbf00">IT</span>
        </a>
        <div class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          <a class="nav-link" routerLink="./blog">Blog</a>
          <a class="nav-link" routerLink="./post">Post</a>
          <a class="nav-link" routerLink="./blog">All Posts</a>
          <a class="nav-link" routerLink="./post">Single Post</a>
          <a class="nav-link" routerLink="./postlist">Post List</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="footer-copyright">
  <div class="d-flex justify-content-center">
    <p>
      &copy; Copyright
      <a href="https://softwaretechit.com" style="color: #ffbf00"
        >SoftwareTechIT</a
      >
      All Rights Reserved 2020-{{ date }}
    </p>
  </div>
  <p style="text-align: center">
    Design and Developed By
    <a href="https://softwaretechit.com" style="color: #ffbf00"
      >SoftwareTechIT</a
    >
  </p>
</div>
</div>
</footer>
