@media(max-width:450px) {
  .hidden-mobile {
    display: none;
  }
  .mobile-center{
    align-items: flex-start;
    text-align: right;
  }
  .footer-section1{
    margin: 0 1rem;
  color: var(--text-color);
  } 
}
footer{
  margin-top: 10px;
  font-weight: 500;
  padding-bottom: 3vh;
  
}
.footer-section1{
  
color: var(--text-color);
} 
.footer-bottom{
display: block;
}
.footer-copyright{
  color: var(--text-color);
 
 
}
.footer-copyright a{
  text-decoration: none;
  color: var(--text-share);
}
.nav-item{
  display: flex;
  padding: auto;
  text-align: left;
}
/* .dropdown-menu{
 
} */
.nav-link{
  cursor: pointer;
  display: block;
  padding: 5px;
  font-size: 1rem;
  text-align: left;
  color:var(--text-color);
}

.nav-link:hover {
  box-shadow: 0px 5px 0px  #f204e679;
  /* background-color: yellow; */
  color:#f204e6;
}
li:hover {
  font-family: Arial, Helvetica, sans-serif,Sans-serif;
  font-weight: 800;
  color: var(--secondary-color);
  /* background-color: yellow; */
}

/* .logobg:hover {
  padding: 5px;
  background-color: var(--color-bg-drawer);
  color: var(--text-color);
} */
