<div class="menu-section row">
  <div class="col-sm">
    <span class="badge badge-pill bg-primary card-menu">
      <a href="./category/Java">Java</a>
    </span>

    <span class="badge badge-pill bg-secondary">
      <a href="./category/Python">Python</a>
    </span>

    <span class="badge badge-pill bg-success">
      <a href="./category/Angular">Angular</a>
    </span>
    <span class="badge badge-pill bg-danger">
      <a href="./category/PHP">PHP</a>
    </span>
    <span class="badge badge-pill bg-warning">
      <a href="./category/HTML">HTML</a>
    </span>
    <span class="badge badge-pill bg-info">
      <a href="./category/CSS">CSS</a>
    </span>
    <span class="badge badge-pill bg-warning">
      <a href="./category/Node.js">Node.js</a>
    </span>
    <span class="badge badge-pill bg-dark">
      <a href="./category/MongoDB">MongoDB</a>
    </span>
    <span class="badge badge-pill bg-primary">
      <a href="./category/Full Stack">Full Stack </a>
    </span>
    <span class="badge badge-pill bg-secondary">
      <a href="./category/Web Development">Web Development</a>
    </span>
    <span class="badge badge-pill bg-success">
      <a href="./category/Typescript">Typescript</a>
    </span>
    <span class="badge badge-pill bg-danger">
      <a href="./category/JavaScript">JavaScript</a>
    </span>
    <span class="badge badge-pill bg-warning">
      <a href="./category/Express.js">Express.js</a>
    </span>
    <span class="badge badge-pill bg-info">
      <a href="./category/C">C</a>
    </span>
    <span class="badge badge-pill bg-warning">
      <a href="./category/C++">C++</a>
    </span>
    <span class="badge badge-pill bg-dark">
      <a href="./category/Software Development">Software Development</a>
    </span>
    <span class="badge badge-pill bg-primary">
      <a href="./category/MEAN s">MEAN Stack</a>
    </span>
    <span class="badge badge-pill bg-secondary">
      <a href="./category/MERN Stack">MARN Stack</a>
    </span>
    <span class="badge badge-pill bg-success">
      <a href="./category/.Net">.Net</a>
    </span>
    <span class="badge badge-pill bg-danger">
      <a href="./category/C#">C#</a>
    </span>
    <span class="badge badge-pill bg-warning">
      <a href="./category/Kotlin">Kotlin</a>
    </span>
    <span class="badge badge-pill bg-info">
      <a href="./category/Ruby">Ruby</a>
    </span>
    <span class="badge badge-pill bg-warning">
      <a href="./category/MySQL">MySQL</a>
    </span>
    <span class="badge badge-pill bg-dark">
      <a href="./category/PostgreSQL">PostgreSQL</a>
    </span>
    <span class="badge badge-pill bg-warning">
      <a href="./category/App Development">App Development</a>
    </span>
    <span class="badge badge-pill bg-info">
      <a href="./category/Wordpress Development">Wordpress Development</a>
    </span>
    <span class="badge badge-pill bg-danger">
      <a href="./category/Database">Database</a>
    </span>
  </div>
</div>
