<div class="spinner-hide">
  @if (load==true) {
    <div class=" spinner-border text-danger " role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  }
</div>

@if (load==false) {
  <div class="d-flex postlist-container">
    <div class="row">
      @for (i of blogPosts; track i) {
        <div class="card">
          <span class="pro-cat"><a href="/category/{{i.category}}">📂{{i.category}}</a></span>
          <a (click)="openDetailPost(i.slug)" >
            <div class="imgbg">
              @if (i.featuredImage!=null) {
                <img class="featuredImage" src="{{apiUrl+i.featuredImage}}"  >
              }
              @if (i.featuredImage==null) {
                <img class="featuredImage" src="/src/assets/logo.png" >
              }
            </div>
            <h2 type="button" (click)="openDetailPost(i.slug)">{{i.title | slice:0:50 }}{{ i.title.length > 50 ? '...' : ''}} </h2>
            <a class="category-link" href="/category/{{i.category}}">📂{{i.category}}</a>
            <p>{{i.subTitle | slice:0:80 }}{{ i.subTitle.length > 80 ? '...' : ''}} </p>
            <!-- <i *ngIf="i.author.avatar!=null" class="bi bi-person-circle"></i> -->
            <h4> @if (i.author.avatar!=null) {
              <img class="authorAvatar" [src]="apiUrl+i.author.avatar"  >
              } {{i.author.name}}
              <i class="bi bi-suit-heart-fill poplike" ></i>
            </h4>
            <a  class="cbtn btn-readmore"
            (click)="openDetailPost(i.slug)">Read More</a>
            <div class="row text-post-bottom">
              <p class="col txt-small"><i class="bi bi-clock"></i>{{i.date}}</p>
              <a class="col txt-small shareicon" href="/"><i class="bi bi-share"></i> Share</a>
            </div>
          </a>
        </div>
      }
      @if (blogPosts==null) {
        <div>
          <h1>No Post Found</h1>
        </div>
      }</div>
    </div>
  }

