<header >
  <nav class="navbar navbar-expand-lg navbar-expand-click navbar-light" >
    <div class="container" style="font-weight: 700; ">
      <div class="logo">
        <!-- <a class="navbar-brand logo" routerLink="/" style="color: red;">Software<span style="color:#ca00fdce">Tech</span><span
      style="color:#ffbf00">IT</span> </a> -->
      <a routerLink="/"><img src="../../../assets/softwaretechit-logo-horizontal.png" alt="" height="50px" width="auto"></a>
    </div>

    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >

      <span class="navbar-toggler-icon"></span>

    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link"  aria-current="page" routerLink="/">🏠Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="./blog">📰Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="#" role="button"
            aria-expanded="false">
            📑More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="./postlist" >Post</a></li>
            <li><a class="dropdown-item" routerLink="./blog" >All Posts</a></li>
            <li><a class="dropdown-item" routerLink="./blog" >Single Post</a></li>
          </ul>
        </li>
        <li><a class="nav-link" routerLink="./postlist" >Post List</a></li>
        <li><a class="nav-link" routerLink="./projects" >🧑‍💻Project's</a></li>
        <li><a class="nav-link" href="https://ko-fi.com/stitweb" >🎁Donate</a></li>
        <li><a class="nav-link " routerLink="./about-us" >🎭About Us</a></li>
        <li><a class="nav-link" routerLink="./hireus" >🪧Hire Us</a></li>
      </ul>
    </div>
    <!-- <form class="d-flex search" role="search">
    <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form> -->

  <ul class="navbar-nav  mb-1 mb-lg-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
        aria-expanded="false" >
        <i class="bi bi-person-fill" style="font-size: 1.5rem; color: cornflowerblue;"></i>
      </a>
      <ul class="dropdown-menu">
        <li>@if (localtoken==false) {
          <a class="dropdown-item" routerLink="./login">Login</a>
        }</li>
        <li >@if (localtoken==false) {
          <a class="dropdown-item" routerLink="./sign-up">Sign-Up</a>
        }</li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>@if (localtoken==true) {
          <a class="dropdown-item" (click)="logOut()">Logout</a>
        }</li>
        <li>@if (localtoken==true) {
          <a class="dropdown-item" routerLink="/dashboard">Dashboard</a>
        }</li>
      </ul>
    </li>

  </ul>

  <div >
    <input type="checkbox" class="checkbox" id="checkbox"  [checked]="chktheme" (click)="themeChenge()">
    <label for="checkbox" class="checkbox-label" >
      <i id="light" class="bi bi-brightness-high-fill text-danger"></i>
      <i id="dark" class="bi bi-moon-stars-fill text-warning"></i>
      <span class="ball" ></span>
    </label>
  </div>


</div>

</nav>
<nav class="navbar navbar-2 navbar-expand-lg navbar-expand-click navbar-light container">
  <div class=" navbar " >
    <a href="./">🏠</a>
    <ul class="navbar-nav ">
      <li class="nav-item "><a class="nav-link" routerLink="./category/python" > Python</a></li>
      <li class="nav-item "><a class="nav-link" routerLink="./category/Java" > Java</a></li>
      <li class="nav-item "><a class="nav-link" routerLink="./category/Angular" > Angular</a></li>
      <li class="nav-item "><a class="nav-link" routerLink="./category/Front End" > Front End</a></li>
      <li class="nav-item "><a class="nav-link" routerLink="./category/Back End" > Back End</a></li>
    </ul>

  </div>
</nav>
</header>