<div class="container">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <div class="card shadow">
          <div class="card-body">
            <form (ngSubmit)="singUp(singUpForm.control.value)" #singUpForm="ngForm" method="post">
              <div class="mb-3"> 
                <h4 > Sing UP</h4>
              </div>
              <div class="row">
              <div class="mb-3 col">
                <label for="exampleInputEmail1" class="form-label">First Name</label>
                <input type="text" class="form-control" name="firstName" ngModel #firstName placeholder="Enter First Name" required>
              </div>
              <div class="mb-3 col">
                <label for="exampleInputEmail1" class="form-label">Last Name</label>
                <input type="text" class="form-control" name="lastName" ngModel #lastName placeholder="Enter Last Name" required>
              </div>
            </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">User Name</label>
                <input type="text" class="form-control" name="username" ngModel #username placeholder="Enter UserName" required>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" ngModel #email placeholder="Enter Email" required>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Password </label>
                <input type="password" class="form-control" name="password" ngModel #password placeholder="Enter Password" required>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Verify Password</label>
                <input type="password" class="form-control" name="verifyPassword" ngModel placeholder=" Verify Password" required>
              </div>
              <button type="submit" class="btn btn-info" >Sing Up</button>
              <div class="row">
                <div class="col-md-6">
                  <a routerLink="/login" style="text-decoration: none;"> Have An Account ? <span class="text-danger">Login</span></a>
                </div>
                <div class="col-md-6">
                  <input type="checkbox" name="policy" id="policy" required>
                  I agree to these <a href="#">Terms and Conditions</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  