
  <div class="service-card">
    <h1 class="text-h">← Service's →</h1>
    <div class="row">
      <div class="col service-containt" id="web-development">
       <img src="../../../assets/web-development.png" alt=" Web Development,HTML, CSS, JavaScript, Angular, PHP, Bootstrap, Vue.js, tailwind css, React " height="150px" >
        <h3 class="service-title">Website Development Service's</h3>
        <p>HTML, CSS, JavaScript, Angular, PHP, Bootstrap, Vue.js, tailwind css, React  </p>
        <a class="btn btn-danger" routerLink="./blog/Web%20Development"   >Read More</a>
      </div>
      <div class="col service-containt" id="app-development">
        <img src="../../../assets/app-development.png" alt="App Development, Android, Apple IOS, Native, React Native, Angular Ionic  " height="150px" >
        <h3 class="service-title">App Development Service's</h3>
        <p>Android, APPLE IOS, Flutter, React Native, Angular Ionic,  </p>
        <a class="btn btn-danger" href="./blog/App%20Development">Read More</a>
      </div>
      <div class="col service-containt" id="software-development">
        <img src="../../../assets/coder-img.png" alt="Software Development, Python, Java, .Net, C#, Node.js,   " height="150px">
        <h3 class="service-title">Software Development Service's</h3>
        <p>Java, Python, C, C++, .Net,  </p>
        <a class="btn btn-danger" href="/blog/Software%20Development">Read More</a>
      </div>
      <div class="col service-containt" id="wordpress-development">
        <img src="../../../assets/services.png" alt="Wordpress Development, Wordpress, Wordpress Theme, Wordpress Plugins" height="150px" >
        <h3 class="service-title">Wordpress Service's</h3>
        <p>Wordpress, Wordpress Plugins, Wordpress Theme</p>
        <a class="btn btn-danger" href="./blog/Wordpress%20Development">Read More</a>
      </div>
      <div class="col service-containt" id="database-development">
        <img src="../../../assets/database-development.png" alt="Wordpress Development, Wordpress, Wordpress Theme, Wordpress Plugins" height="150px" >
        <h3 class="service-title">Database & API Service's</h3>
        <p>MySQL, PostgreSQL, MongoDB, SQL, NoSQL, </p>
        <a class="btn btn-danger" href="./blog/Database">Read More</a>
      </div>
    </div>
  </div>

