.container{
    margin-top: 2rem; 
}

.service-card{
 background-image: var(----planCard);
  color: var(--font-color);
  padding: 1rem;
  text-align: center;
  border-radius:15px;
  
}
.service-card img{
    height: 130px;
    width: 100%;
}
.service-containt:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px #2fff896d;
}
.service-card .text-h{
    text-align: center;
    background-image: linear-gradient(90deg, #ffea00 ,#ff00d9);
    background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 2.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.service-containt {
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 6px;
    margin: 0.2rem;
    border: 1px dashed #000;
    align-items: center;
    
}
.service-containt .service-title{
    color: var(--font-color);
    font-weight: 600;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}