<div class="container">
<!--HERO SECTION-->
<section class="hero-section m-2 py-3 rounded-3 shadow-sm  " id="hero-section">

 <div class=" row ">   
<div class="col-lg text-center ">
    <h1 class="text-h">Learn To Code</h1>
    <h2 class="grediant-text">Faster With Us New Way</h2>
    <span class="stroke-text">SoftwareTechIT.com</span>
    <div class="p-2">
        <p >SoftwareTechIT is a <span>blazingly fast </span>& <span>highly-amusing</span> way to level up your programming skills.
            SoftwareTechIT is a Software Development Teaching Platform. Our mission is to help developers learn and master the skills needed to stay relevant in the ever changing world of software development.</p>
    </div>
    <div class=" p-3 lc-block d-grid gap-5 d-md-flex justify-content-center " style="font-size: smaller;">
        <a class="button-74" href="https://play.google.com/store/apps/details?id=com.softwaretechit" role="button"> <i class="bi bi-google-play"></i> Download App</a>
        <a class="button-75" href="https://www.youtube.com/@softwaretechit" role="button"><i class="bi bi-play-btn-fill "></i> Watch Video's</a>
    </div>
</div>
<div class="col-lg d-flex justify-content-end">
    <img src="./../../../assets/green-coding.png" alt="" width="450vh" height="350vh">
</div>
</div>
</section>

<!-- MENU SECTIONS-->
<section class="menu-section">
    <app-menu-card></app-menu-card>
    
</section>
<!--POST SECTION-->
<section class=" blog-section" id="blog">
    <div class="m-3 d-flex justify-content-center "><h1 class="text-h">← Blog Posts →</h1></div>

    <app-postlist></app-postlist>
   <app-service-section></app-service-section> 
</section>


</div>