<section class="p-2 ">
<div class="align-self-center row ">
  <form (ngSubmit)="savePost(saveArticle.control.value)" #saveArticle="ngForm" method="post"> 
    <div class="form-group col-10 p-2">
      <label for="blogtitle" class="blogtitle">Enter Post Title </label>
      <input type="text" class="form-control" name="title" id="title" ngModel #title placeholder="Enter Post Title" required>
    </div>
    <div class="form-group col-10 p-2">
      <label for="blogtitle" class="blogtitle">Enter Post Sub Title </label>
      <input type="text" class="form-control" name="subTitle" id="postSubTitle" ngModel #subTitle placeholder="Enter Post Title" required>
    </div>  
    <div class="form-group col-10 p-2">
      <!-- <input
name="thumbnail"
ngModel #thumbnail
      type="file"
        class="text-nowrap text-truncate"
        (change)="selectFile($event)"
      /> --> 
      <div class="row"> 
        <div class="col">
     <div class="dropzone" appDragDrop (files)="fileDropped($event)">
      <div class="text-wrapper">
        <div class="centered">
          Drag and Drop Your File or <a class="browse-btn" (click)="featuredImage.click()">Browse</a> 
        </div>
      </div>
     </div> 
     
      <input multiple type="file"  name="featuredImage" style="display: none;" accept="*.png.jpg.webp.jpeg" (change)="selectedThumbnail($event)" placeholder="Choose Thumbnail"  #featuredImage >
      
      <input class="btn btn-warning" (click)="uploadImage($event)" [disabled]="!selectedFiles" value="Upload Thumbnail">
      <div class="container" *ngIf="loading">
        <h3>Loading ...</h3>
    </div>
      <div *ngIf="currentFileUpload" class="progress mt-2">
        <div
          class="progress-bar progress-bar-info"
          role="progressbar"
          attr.aria-valuenow="{{ percentage }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: percentage + '%' }"
          >
          {{ percentage }}%
        </div>
      </div>
    </div>
    <div class="col" >
    <p>img</p>
    </div>
  </div>
  
</div>
  <div class="py-2 col-4">
    <h1>
    Select Categorys:
    <select name="category" id="category" ngModel #category (change)="selectedCategory(category)">
      <option [defaultSelected]="">Select Category</option>
      <option *ngFor="let selCategory of categorys" >{{selCategory.name}}</option>
    </select>
  </h1>
  </div>
 
<!-- <ckeditor  [config]="config" [(ngModel)]="content" [editor]="Editor"></ckeditor> -->
<!-- <ckeditor 
    name="content" id="content" ngModel #content
    [config]="config"
    [readonly]="false"
    (fileUploadRequest)="uploadImage($event)"
    debounce="500">
</ckeditor> -->
  <!--
    (change)="onChange($event)"
    (editorChange)="onEditorChange($event)" 
    (ready)="onReady($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    (contentDom)="onContentDom($event)"

    (paste)="onPaste($event)"
    (drop)="onDrop($event)"
  -->
  <h1>
    Select Post Status:
  <select name="status" id="status" ngModel #status (change)="selectedStatus(status)">
    <option [defaultSelected]="">Select Status</option>
    <option>draft</option>
    <option>published</option>
    <option>archived</option>
  </select>
</h1>
  <div class=" p-3 d-flex justify-content-center">
  <input type="submit" class="btn btn-primary col-4" value="Save Post">
</div>
</form>
</div>
</section>

