.ck.ck-word-count {
    display: flex;
    justify-content: flex-end;

    background: var(--ck-color-toolbar-background);
    padding: var(--ck-spacing-small) var(--ck-spacing-standard);
    border: 1px solid var(--ck-color-toolbar-border);
    border-top-width: 0;
    border-radius: 0 0 var(--ck-border-radius);
}


.ck.ck-word-count .ck-word-count__words {
    margin-right: var(--ck-spacing-standard);
}

.ck.ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable,
.ck.ck-rounded-corners .ck-source-editing-area textarea {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.blogtitle{
    color: var(--font-color);
}
.dropzone{
    color: var(--font-color);
    height: 150px;
    min-width: 100px;
    display: table;
    background: var(--ck-color-toolbar-background);
    width: 300px;
    border: dashed 1px #aaa;
    border-radius: 10px;

}
.browse-btn{
    color: #e9fe;
  text-decoration: none;
}
.text-wrapper{
    display: table-cell;
    vertical-align: middle;
}
.centered{
    text-align: center;
}
