<div>
    <!-- <p>No Ads Available</p> -->
    <div [innerHTML]="postAds.adsCode">
    </div>
    <br/>
    <iframe width="auto" height="auto" src="https://www.youtube.com/embed/videoseries?list=UULFLU4EFzGkjsRKrPKD8bhG-A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br/>
<iframe width="auto" height="auto" src="https://www.youtube.com/embed/videoseries?list=PLmwJLue37PZc1HIqwwl4ubT8cpFwsf6L6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br/>
<iframe width="auto" height="auto" src="https://www.youtube.com/embed/videoseries?list=PLmwJLue37PZe0YTYW_3uh_EJn5r_ayqDQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe><br/>
</div>