<mat-drawer-container autosize>

  <div class="container card m-2">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Actions</th>
          
        </tr>
      </thead>
      <!-- <div *ngIf="load==true" class="spinner-border text-danger spinner-hide" role="status">
        <span class="visually-hidden">Loading...</span>
      </div> -->
      <tbody *ngIf="load==false">
        <tr *ngFor="let i of blogPosts;let indexOfelement=index;"> 
          <td>{{indexOfelement}}</td>
          <td class="ctm-block" (click)="openDetailPost(i.slug)">{{i.title}}</td>
          <td>
            <a class="btn btn-warning m-1" (click)="editPost(i._id)">Edit</a>
            <a class="btn btn-danger m-1">Delete</a>
            <a class="btn btn-primary m-1" (click)="openDetailPost(i.slug)">View</a>
          </td>
        </tr>
       
      </tbody>
    </table>
  </div>
  </mat-drawer-container>
  