<mat-drawer-container autosize>

  <div class="container card m-2">
    <table class="table table-triped">
      <thead class="thead thead-dark">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Actions</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of blogPosts;let indexOfelement=index;"> 
          <td>{{indexOfelement}}</td>
          <td>{{i.title}}</td>
          <td>
            <a class="btn btn-warning m-1">Edit</a>
            <a class="btn btn-warning m-1">Edit</a>
            <a class="btn btn-warning m-1">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

      <!-- <div class="container">
        <div class="row">
        <div *ngFor="let i of blogPosts" class="m-1 card p-2 post-card" >
          <img *ngIf="i.featuredImage!=null" class="featuredImage" [src]="apiUrl+i.featuredImage" height="150px" >
          <img *ngIf="i.featuredImage==null" class="featuredImage" src="./assets/logo.png" height="150px" >
          <h3>{{i.title | slice:0:35 }}{{ i.title.length > 20 ? '...' : ''}} </h3>
           <h4><img *ngIf="i.author.avatar!=null" class="authorAvatar" [src]="apiUrl+i.author.avatar"  > {{i.author.name}}</h4>
          <input type="button" class="btn btn-sm btn-warning"
           (click)="openDetailPost(i.slug)" value="Read More">
           <div class="card-body">
            <a href="#" class="card-link">by </a>
            <a href="#" class="card-link">{{i.date}}</a>
           </div>
       </div></div>
      
    </div>
    -->
  
  </mat-drawer-container>
  