<div class="container">
    <div class="row ">
      <div class="col-12 d-flex justify-content-center">
        <div class="card shadow">
          <div class="card-body">
            <form>
              <div class="mb-3">
                <h4 >Admin Sing Up</h4>
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="email">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="password">
              </div>
              <button type="button" class="btn btn-info" (click)="singUp()">Sing Up</button>
              <div class="row">
                <div class="col-md-6">
                  <a routerLink="/admin-login" style="text-decoration: none;"> Have An Account ? <span class="text-danger">Login</span></a>
                </div>
                <div class="col-md-6">
                  <input type="checkbox" name="policy" id="policy">
                  I agree to these <a href="#">Terms and Conditions</a>.
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  