<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon (click)="this.sideNav.open()"  *ngIf="!sideNav?.opened">menu</mat-icon>
    <mat-icon (click)="this.sideNav.close()" *ngIf="sideNav?.opened">close</mat-icon>
  </button>
  
  <mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <h2 class="text-color">Admin</h2>
      <mat-action-list *ngFor="let menuItem of menuItems" >
          <a routerLink={{menuItem.link}}> <mat-icon>{{menuItem.icon}}</mat-icon> {{menuItem.title}}</a>
      </mat-action-list>
      <mat-action-list>
        <a (click)="logOut()"><mat-icon>logout</mat-icon> <span style="color: brown;">LogOut</span> </a>
      </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <ng-container *ngIf="router.url === '/admin'">
      <app-admin-home></app-admin-home>
      </ng-container>
      <router-outlet></router-outlet>
  
  </mat-sidenav-content>
  </mat-sidenav-container>