<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
  @if (!sideNav?.opened) {
    <mat-icon (click)="this.sideNav.open()" >menu</mat-icon>
  }
  @if (sideNav?.opened) {
    <mat-icon (click)="this.sideNav.close()">close</mat-icon>
  }
</button>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <h2 class="text-color">Admin</h2>
    @for (menuItem of menuItems; track menuItem) {
      <mat-action-list >
        <a routerLink={{menuItem.link}}> <mat-icon>{{menuItem.icon}}</mat-icon> {{menuItem.title}}</a>
      </mat-action-list>
    }
    <mat-action-list>
      <a (click)="logOut()"><mat-icon>logout</mat-icon> <span style="color: brown;">LogOut</span> </a>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    @if (router.url === '/admin') {
      <app-admin-home></app-admin-home>
    }
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>