<div class="container ">
    <div>
        <h1 class="about-title">About Us</h1>
    <h4 class="top-title"> Who is <span class="grediant-text">SoftwareTechIT?</span></h4>
    </div>
<p>Are you ready to take your programming skills to the next level? Look no further than SoftwareTechIT, the premier programming community dedicated to helping new programmers achieve their goals and reach their full potential.</p>
<p>As the founder and CEO of SoftwareTechIT, I know firsthand the challenges that come with learning and growing in the programming industry. That's why I created SoftwareTechIT – to provide new programmers with the resources and support they need to succeed.</p>
<p>Our YouTube channel is a treasure trove of informative videos on everything from programming basics to advanced techniques. But that's just the beginning. Our affordable courses & Containt are designed to give you the high-quality education you need to succeed in the industry, without breaking the bank.</p>
<p>At SoftwareTechIT, we believe that price should never be a barrier to achieving your dreams. That's why our courses are priced low – so that anyone, regardless of their financial situation, can access the tools and knowledge they need to succeed.</p>
<p>But SoftwareTechIT is more than just a community – we're a family. Our supportive community of like-minded individuals is here to help you every step of the way, whether you're just starting out or looking to take your skills to the next level.
</p>
<p>With SoftwareTechIT by your side, there's nothing standing between you and your dream job. Our courses and community will provide you with the guidance, support, and motivation you need to unleash your full potential and become a skilled programmer.</p>
<p>So what are you waiting for? Join the SoftwareTechIT family today and let's conquer the programming industry together! With our affordable courses, informative videos, and supportive community, the sky's the limit.</p>
<h3>Mahesh N. <br/>Founder and CEO of SoftwareTechIT</h3>

<div class="express-agenda content-inner">
  
    <h2 class="center">
  
      🎭 What You’ll Learn 
  
    </h2>
    <div class="content-inner">
      <div class="row">
        <div class="col-md-6">
          <p>
            <strong>
              💻
  
              Learn about popular coding languages and technologies today
            </strong> <br>
            <small>
              Such as HTML5, CSS3, ES6 (JavaScript), VS Code, React, GitHub, APIs, and more.
            </small>
            <br>
            <strong>📈 Discover some trends in the industry</strong>
            <br> 
            <small>
              To give you a better idea of the industry overall today.
            </small>
            <br>
            <strong>
              🔴 See a live coding session in action
            </strong> 
            <br>
            <small>
              Using some of the latest and most powerful coding technologies.
            </small>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            <strong>
              👩&zwj;💼 Learn how coding knowledge can be useful for you
            </strong>
            <small>
              In your current job or in creating new career opportunities.
            </small>
            <br>
            <strong>
            ❓ Get some of your coding questions answered</strong>
            <br> 
            <small>By watching a Q&amp;A with a professional developer.
            </small>
  
            <br>
            <strong>
              👩&zwj;💻 Find out more about SheCodes Workshops
            </strong> <br>
            <small>
              And which package would be a good fit for you.
  
            </small>
            
          </p>
        </div></div>
        <div class="center">
          <p>
            <strong>
              🎁 And much more, including a special gift
            </strong>
          </p>
        </div>
      </div>
    </div>


</div>

