<div class="card p-2 hidden-mobile">
  <h2 class="cat-heading">Recent Posts</h2>
  <div class="spinner-hide">
    @if (load==true) {
      <div class=" spinner-border text-danger " role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    }
  </div>
  @if (load==false) {
    <div>
      @for (i of blogPosts; track i) {
        <div>
          <a href="./post/{{ i.slug }}" >
            <img src="{{apiUrl+i.featuredImage}}" height="50px" width="50px">
            <h4>{{ i.title | slice : 0 : 50 }}{{ i.title.length > 50 ? "..." : "" }}</h4>
          </a>
        </div>
      }
    </div>
  }
</div>
