@media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
  }
 .card{
   background: var(--card-bg);
 } 
 
  .hidden-mobile a{
   text-decoration: none;
    display: flex; 
    padding: 0.1rem 0.4rem;
  }
 
.hidden-mobile a:hover{
  text-decoration: underline ;
  display: flex;
  padding: 0.1rem 0.4rem;
  /* border-bottom: 2px solid #fee104; */
}

.hidden-mobile h4{
  line-height: 1rem;
  padding: 0.4rem;
  font-weight: 400;
}
