mat-sidenav-container {
  height: 100vh;
  
  background-color:var(--transparent-bg);
  color: #fff;
}
mat-sidenav {
 width: fit-content;
 padding: 0rem 1rem;
 
 
  background-color: var(--transparent-bg);
}
mat-icon {
  
  color: #4b4bce9c;
}
.menu-item {
  padding: 10px;
  color: #fff;
}
a {
  text-decoration: none;
}
.text-color {
  color: #712578;
}

mat-sidenav-content {
  height: 100vh;
}

