<button
  mat-icon-button
  class="example-icon"
  aria-label="Example icon-button with menu icon"
>
  @if (!sideNav?.opened) {
  <mat-icon (click)="this.sideNav.open()">menu</mat-icon>
  } @if (sideNav?.opened) {
  <mat-icon (click)="this.sideNav.close()">close</mat-icon>
  }
</button>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <h2 class="text-color">Dashboard</h2>
    @for (menuItem of menuItems; track menuItem) {
    <mat-action-list>
      <a routerLink="{{ menuItem.link }}">
        <mat-icon class="text-color">{{ menuItem.icon }}</mat-icon>
        {{ menuItem.title }}</a
      >
    </mat-action-list>
    }
    <mat-action-list>
      <a style="color: var(--text-share)" (click)="logOut()"
        ><mat-icon style="color: #ff0e0e">logout</mat-icon>LogOut</a
      >
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (router.url == '/dashboard') {
    <app-blogposts></app-blogposts>
    }

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
