<section class="p-2">
  <div class="align-self-center row">
    <form
      (ngSubmit)="saveCategories(saveCategory.control.value)"
      #saveCategory="ngForm"
      method="post"
    >
      <div class="form-group col-10 p-2">
        <label for="blogtitle">Enter Category Title </label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="title"
          ngModel
          #name
          placeholder="Enter Post Title"
          required
        />
      </div>
      <div class="p-3 d-flex justify-content-center">
        <input type="submit" class="btn btn-primary col-4" value="Save Post" />
      </div>
    </form>
  </div>
</section>
