
<div class="spinner-hide">
  <div *ngIf="load==true" class=" spinner-border text-danger " role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<section>
<div *ngIf="load==false" class="post row">
  <nav aria-label="breadcrumb " class="hidden-mobile">
    <ol class="breadcrumb border-top-bottom">
      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/blog">BlogPost</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{post.slug | slice:0:50 }}{{ post.slug.length > 50 ? '...' : ''}}</li>
    </ol>
  </nav>
<div class="col post-container p-3">
  <div class="icon-container">
    <div class="icon-bar">
      <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="google"><i class="fa fa-google"></i></a>
      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="youtube"><i class="fa fa-youtube"></i></a>
    </div>
  </div>
  <!-- <div class="pagination is-centered space-vertical">
    <a class="btn btn-outline-success pagination-next" href="">Next</a>
    <a class="btn btn-outline-success pagination-previous" href="\">Previus</a>
  </div> -->
  <div class="post-header">
    <h1 class="title">{{post.title}}</h1>
    <h3 class="border-top-bottom"><a routerLink="/category/{{post.category}}">📂{{post.category}} </a><span class="post-date"><i class="bi bi-calendar-plus-fill"></i> {{post.date| datePipe:'MMM dd yyyy'}}</span> <span class="post-author"><img *ngIf="post.author.avatar!=null" class="authorAvatar" [src]="apiUrl+post.author.avatar"  > {{post.author.name}}</span> <span class="post-views"><i class="bi bi-eye-fill"></i>{{post.views}}</span></h3>
  </div> 
  <div class="sub-title">
    <h3>{{post.subTitle}}</h3>
  </div>
    <img *ngIf="post.featuredImage!=null" [src]="apiUrl+post.featuredImage " alt="" >
    <img *ngIf="post.featuredImage==null" src="../../../assets/logo.png " alt="" >
<div class="post-content" [innerHTML]="post.content">
</div>
</div>
<div class="post-sidebar-container ">
  <div class="hidden-mobile">
    <app-menu-postlist ></app-menu-postlist>
  <app-custom-ads ></app-custom-ads>
  <app-category-menu ></app-category-menu>

  </div>
  
</div>

</div>  

</section>