/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.css";


/* span{
  color:var(--font-color);
} */

:root {
  color-scheme: light dark; /* both supported */
 padding: 0;
 margin: 0;
}


body { 
  font-family: 'wolf2';

  background: var(--body-bg);
  --primary-color: #302ae6;
  --secondary-color: #c3c8d5;
  --text-share:#a600ffe8;
  --font-color: #000;
  --heading-color: #292922;
  --body-bg:radial-gradient(circle, #fffdf4 0%, #f5fef1 35%, #c6fafb 60%, #ffffff 100%);
  --color-bg: linear-gradient(78deg,  #00feae19, #000dff17);
  --color-card: linear-gradient(78deg,  #fe000028, #ee00ff29);
  --card-bg:linear-gradient(78deg,  #d7d5d513, #bba6bc14);
  --color-grd-blue-pink:linear-gradient(-10deg, #7028e4 0%, #e5b2ca 100%);
  --color-bg-drawer :#d632ff2b;
  --text-color: #000;
  --bg-bk-text-color:#fff;
  --t-bg-color-aqua:#7af8ff3f;
  --border-width-sm:0.125em;
  --planCard: linear-gradient(210.41deg,#fa5042 1.14%,#ffa739 100.75%);
  --btn-bg:#fbc917;
  --btn-border:#26001c;
  --gradiat-red-blue:linear-gradient(90deg, #fff,#fff);
  --light-purple:#f8effe;
  --light-yellow:#fef9ef;
  --light-orenge:#fdf1f0;
  /* Font veriables */
  --small: 12px;
  --medium: 16px;
  --large: 24px;
 

}
body.light-theme { 
  --primary-color: #302ae6;
  --secondary-color: #c3c8d5;
  --text-share:#a600ffe8;
  --font-color: #000;
  --heading-color: #292922;
  --bg-bk-text-color:#fff;
  --body-bg:radial-gradient(circle, #fffdf4 0%, #f5fef1 35%, #c6fafb 60%, #ffffff 100%);
  --color-bg: linear-gradient(78deg,  #00feae19, #000dff17);
  --color-card: linear-gradient(78deg,  #fe000028, #ee00ff29);
  --card-bg:linear-gradient(78deg,  #d7d5d513, #bba6bc14);
  --color-bg-drawer :#d632ff2b;
  --text-color: #000;
  --t-bg-color-aqua:#7af8ff3f;
  --btn-bg:#fbc917;
  --btn-border:#26001c;
}
body.dark-theme {
  --primary-color: #9a97f3;
  --secondary-color: #1e293bff;
  --text-share:#00eeffe8;
  --font-color: #e1e1ff;
  --heading-color: #ff0a78;
  --bg-bk-text-color:#000000;
  --body-bg:radial-gradient(circle, #1d180045 0%, #1645001e 35%, #00474831 60%, #4900003e 100%);
 /* --body-bg:url(./assets/background.jpg); */
  --color-bg: linear-gradient(90deg, #0f1623, #100016);
  /* --color-bg: url(./assets/background.jpg); */
  --color-card: linear-gradient(90deg, #c300ff46, #ff000080);
  --card-bg:linear-gradient(78deg,  #15141428, #22172329);
  --color-bg-drawer :#44ffc40a;
  --text-color: #fff;
  --btn-bg:#ffc904;
  --btn-border:#600042;
} 

p{
  font-size: 1rem;
  color: var(--font-color);
}

h1, h2, h3, h4, h5, h6{
 color:var(--font-color);
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dropdown:hover .dropdown-menu {
  display: block;
  
}
.cat-heading{
  padding:0 1rem;
  width: 92%;
  border-radius:1rem 0rem 0rem 1rem;
  display: block;
  background: var(--color-card);
 }
pre {
  white-space: pre-wrap;
  overflow-x: auto;
  background-color: var(--secondary-color);
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  padding: 10px;
  border: 1px solid #ff0a78;
  border-left: 3px dashed #9a97f3;
  box-shadow: 0px 5px 1px 0px #fffb00;

}
code{
  
  font-size: 0.9rem;
  font-family: 'Courier New', Courier, monospace;
        line-height: 15px;
        color: #ffffff;
}
.border-top-bottom{
  border-top: 1px solid #595959;
  border-bottom: 1px solid #595959;
  background: var(--color-card);
  padding: 0 10px;
  border-radius: 0.5rem;
}

/* CSS */
.button-74 {
  background-color: #ffe9c1;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #f9990a 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.cbtn{
  align-items: center;
  text-align: center;
  justify-content: center;
}
section{
  padding: 0;
  margin: 0;
}
.btn-readmore{
  text-decoration: none;
 color: var(--gradiat-red-blue);
 background: var(--color-card);
 border-radius: 20px;
 /* text-align: center; */
 padding: 3px 1rem;
 align-content: center;
 font-weight: 500;
 font-size: 0.9rem;

}
.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}



.button-75 {
  background-color: #ffe100;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #2bd400 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-75:hover {
  background-color: #fff;
}

.button-75:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.spinner-hide{
  display:flex;
  /* justify-items: center; */
  justify-content: center;
  /* align-items: center; */
  /* text-align: center; */
  /* padding:0 1rem; */
}
.spinner-border{
 border-style: dotted;
}
.pro-cat{
  color: var(--text-color);
	background: var(--planCard);
	border-radius: 3px;
	font-size: 0.8rem;
	font-weight: bold;
	padding: 1px 4px;
	position: absolute;
  align-content: end;
  align-items: end;
  text-align: left;
	top: 10px;
	left: 10px;
}
.pro-cat a{
  text-decoration: none;
  color: var(--text-color);
}
.txt-small{
  font-size: 14px;
}
@media (min-width: 768px) {
  .button-75 {
    min-width: 120px;
    padding: 0 25px;
  }
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.btn{
  font-weight: 400;
  
}
a{
  cursor: pointer;
}