<mat-drawer-container  autosize>
    <mat-drawer style="padding: 5px;" #drawer mode="side" [opened]="isOpened">
     <app-category-menu></app-category-menu>
     
    </mat-drawer>
  
    <div class="post-block">
      <button type="button" mat-button (click)="drawer.toggle()">
        <h3 style="color:var(--text-share)">Open Menu></h3>
      </button>
      
        <div class="row">
        <div *ngFor="let i of blogPosts " class="card " >
          <ng-container *ngIf="i.category===param ||param===null">
            <div class="imgbg">
          <img *ngIf="i.featuredImage!=null" class="featuredImage" [src]="apiUrl+i.featuredImage" >
          <img *ngIf="i.featuredImage==null" class="featuredImage" src="./assets/logo.png" >
        </div>
          <h2 class="text-xl" type="button" (click)="openDetailPost(i.slug)" >{{i.title | slice:0:50 }}{{ i.title.length > 50 ? '...' : ''}} </h2>
          <p>{{i.subTitle | slice:0:80 }}{{ i.subTitle.length > 80 ? '...' : ''}}</p>
          <!-- <h4 class="authorUser"><img *ngIf="i.author.avatar==null" class="authorAvatar" src="./assets/logo.png"> {{i.author.name}}</h4> -->
          <h4 class="authorUser"><img *ngIf="i.author.avatar!=null" class="authorAvatar" [src]="apiUrl+i.author.avatar"  > {{i.author.name}}</h4>
          
          <input type="button" class="btn btn-warning" 
           (click)="openDetailPost(i.slug)" value="Read More">
           <div class="row p-2">
            <p class="col"><i class="bi bi-clock"></i>{{i.date}}</p>
            <a class="col" href="/"><p class="shareicon"><i class="bi bi-share"></i> Share</p></a>
           </div>
          </ng-container>
          </div>
          <h3 class="text-center">More Posts Not Found</h3>
       </div>
      </div>
    
</mat-drawer-container>
  