<h2 class="cat-heading">Category's</h2>
<div class="spinner-hide">
  @if (load==true) {
    <div class=" spinner-border text-danger " role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  }
</div>
@if (load==false) {
  <div>
    @for (i of categorys; track i) {
      <div  class="category-list">
        <a class=" btn btn-link" href="./category/{{i.name}}" >📂{{i.name}}</a>
      </div>
    }
  </div>
}

@if (load==false) {
  <div>
    @for (i of categorysDemo; track i) {
      <div  class="category-list">
        <a class=" btn btn-link" href="./category/{{i.name}}" >📂{{i.name}}</a>
      </div>
    }
  </div>
}